{% load static %}
<div class="container" id="brand1">
   <div class="row">
     <div class="col-md-9 col-sm-12">
       <h2 class="c-head-text-main" style="float: left;"><a href="{% url 'home' %}" style="text-decoration: none; color: #fff;">GOODVUD SCHOOL</a></h2>
     </div>
     <div class="col-md-3 col-sm-12 mt-sm-2">
        <center><p class="mail">aviationschool@flying.com 
<br>
            + 7958 917 9747 2481 000</p></center>
      </div>
   </div>
</div>

<style type="text/css">
.c-head-text-main {
	font-size: 48px;
	margin: 10px;
}

@media screen and (max-width: 520px) {
	.c-head-text-main {
		font-size: 30px;
		color: #fff;
		margin: 5px;
	}
}
</style>