{% extends 'base_core.html' %}

{% block title %}
 | Contact
{% endblock title %}

{% block content %}

<!-- - contained in  -->
<div class="container" >

<div class="container" id="about">
    <div class="row">
            <h1 id="abt-clr">Contact Us</h1>
    </div>
    <div class="row">
            <h6>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text.</h6>
    </div>
    <br>
    <div class="row">
        <div class="col-md-7">
         <h5>NULLA PELLENTESQUE</h5>
         <p>
                Suspendisse potenti suspendisse potenti<br>

                1234 Proin sodales, felis at interdum porta 321 Consectetur, XY 12345<br>
                
                Tel: + 7958 917 9747 2481 000<br>
                
                Fax: + 7958 917 9747 2481 000<br>
                
                Email: aviationschool@flying.com<br>
         </p>
        </div>
        <div class="col-md-5"></div>
    </div>
    <br>
    <div class="row">
            <div class="col-md-7">
             <h5>ETIAM SEMPER JUSTO</h5>
             <p>
                    Fusce fermentum dignissim tellus<br>

1234 Proin sodales, felis at interdum porta 321 Consectetur, XY 12345<br>

Tel: + 7958 917 9747 2481 000<br>

Fax: + 7958 917 9747 2481 000<br>

Email: aviationschool@flying.com<br>
             </p>
            </div>
            <div class="col-md-5"></div>
        </div>
        <br>
        <div class="row">
                <div class="col-md-7">
                 <h5>CONSECTETUR JUSTO ET EST TINCIDUNT</h5>
                 <p>
                        Suspendisse potenti suspendisse potenti<br>
        
                        1234 Proin sodales, felis at interdum porta 321 Consectetur, XY 12345<br>
                        
                        Tel: + 7958 917 9747 2481 000<br>
                        
                        Fax: + 7958 917 9747 2481 000<br>
                        
                        Email: aviationschool@flying.com<br>
                 </p>
                </div>
                <div class="col-md-5"></div>
            </div>
            <br>
               
    </div>
</div>


{% endblock content %}