{% extends 'base_core.html' %}

{% block title %}
 | School Calendar
{% endblock title %}

{% block content %}

<!-- - contained in  -->
<div class="container" >

<div class="container" id="about">
    <div class="row">
            <h1 id="abt-clr">School Calendar - 2019</h1>
    </div>
        <br>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
                 <h5>JANUARY</h5>
                 <p>
                        Suspendisse nulla - Sat, 5<br>
                        Lorem tincidunt - Mon, 8<br>
                        Malesuada sit amet - Mon, 21<br>
                        varius non magna - Wed, 27<br>
                        Felis et ante viverra - Thur, 28<br>
                 </p>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                    <h5>FEBRUARY</h5>
                    <p>
                           Suspendisse nulla - Sat, 5<br>
                           Lorem tincidunt - Mon, 8<br>
                           Malesuada sit amet - Mon, 21<br>
                           varius non magna - Wed, 27<br>
                           Felis et ante viverra - Thur, 28<br>
                    </p>
               </div>
               <div class="col-md-4 col-lg-4 col-xs-12">
                    <h5>MARCH</h5>
                    <p>
                           Suspendisse nulla - Sat, 5<br>
                           Lorem tincidunt - Mon, 8<br>
                           Malesuada sit amet - Mon, 21<br>
                           varius non magna - Wed, 27<br>
                           Felis et ante viverra - Thur, 28<br>
                    </p>
               </div>
        </div>
        <br>
        <div class="row">
                <div class="col-md-4 col-lg-4 col-xs-12">
                     <h5>APRIL</h5>
                     <p>
                            Suspendisse nulla - Sat, 5<br>
                            Lorem tincidunt - Mon, 8<br>
                            Malesuada sit amet - Mon, 21<br>
                            varius non magna - Wed, 27<br>
                            Felis et ante viverra - Thur, 28<br>
                     </p>
                </div>
                <div class="col-md-4 col-lg-4 col-xs-12">
                        <h5>MAY</h5>
                        <p>
                               Suspendisse nulla - Sat, 5<br>
                               Lorem tincidunt - Mon, 8<br>
                               Malesuada sit amet - Mon, 21<br>
                               varius non magna - Wed, 27<br>
                               Felis et ante viverra - Thur, 28<br>
                        </p>
                   </div>
                   <div class="col-md-4 col-lg-4 col-xs-12">
                        <h5>JUNE</h5>
                        <p>
                               Suspendisse nulla - Sat, 5<br>
                               Lorem tincidunt - Mon, 8<br>
                               Malesuada sit amet - Mon, 21<br>
                               varius non magna - Wed, 27<br>
                               Felis et ante viverra - Thur, 28<br>
                        </p>
                   </div>
            </div>
            <br>
            <div class="row">
                    <div class="col-md-4 col-lg-4 col-xs-12">
                         <h5>JULY</h5>
                         <p>
                                Suspendisse nulla - Sat, 5<br>
                                Lorem tincidunt - Mon, 8<br>
                                Malesuada sit amet - Mon, 21<br>
                                varius non magna - Wed, 27<br>
                                Felis et ante viverra - Thur, 28<br>
                         </p>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xs-12">
                            <h5>AUGUST</h5>
                            <p>
                                   Suspendisse nulla - Sat, 5<br>
                                   Lorem tincidunt - Mon, 8<br>
                                   Malesuada sit amet - Mon, 21<br>
                                   varius non magna - Wed, 27<br>
                                   Felis et ante viverra - Thur, 28<br>
                            </p>
                       </div>
                       <div class="col-md-4 col-lg-4 col-xs-12">
                            <h5>SEPTEMBER</h5>
                            <p>
                                   Suspendisse nulla - Sat, 5<br>
                                   Lorem tincidunt - Mon, 8<br>
                                   Malesuada sit amet - Mon, 21<br>
                                   varius non magna - Wed, 27<br>
                                   Felis et ante viverra - Thur, 28<br>
                            </p>
                       </div>
                </div>
                <br>
                <div class="row">
                        <div class="col-md-4 col-lg-4 col-xs-12">
                             <h5>OCTOBER</h5>
                             <p>
                                    Suspendisse nulla - Sat, 5<br>
                                    Lorem tincidunt - Mon, 8<br>
                                    Malesuada sit amet - Mon, 21<br>
                                    varius non magna - Wed, 27<br>
                                    Felis et ante viverra - Thur, 28<br>
                             </p>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12">
                                <h5>NOVEMBER</h5>
                                <p>
                                       Suspendisse nulla - Sat, 5<br>
                                       Lorem tincidunt - Mon, 8<br>
                                       Malesuada sit amet - Mon, 21<br>
                                       varius non magna - Wed, 27<br>
                                       Felis et ante viverra - Thur, 28<br>
                                </p>
                           </div>
                           <div class="col-md-4 col-lg-4 col-xs-12">
                                <h5>DECEMBER</h5>
                                <p>
                                       Suspendisse nulla - Sat, 5<br>
                                       Lorem tincidunt - Mon, 8<br>
                                       Malesuada sit amet - Mon, 21<br>
                                       varius non magna - Wed, 27<br>
                                       Felis et ante viverra - Thur, 28<br>
                                </p>
                           </div>
                    </div>
                    <br>
    </div>
</div>
{% endblock content %}