{% extends 'base_core.html' %}


{% block title %}
Customize your website according to you.
{% endblock title %}

{% block content %}
<div class="container-fluid c-shadow-medium-s c-content-back c-margin-top-resp pt-5" style="min-height: 1300px; margin-bottom: 200px; margin-top: 100px;">
	<div class="row c-profile-main p-3">
		{% include 'includes/sidebarProfile.html' %}
		<div class="col-md-9 p-3" id="printableDivProfile">
			<center>
				<h5 class="display-4">Your Settings</h5>
			</center>
			<br><hr><br>
			
		</div>
	</div>
</div>
{% endblock content %}